<header class="s-header bg-dark" >

    <div class="row header-inner bg-light">
        <div class="col-md-4 bg-primary" >
            <div class="s-header__block">
                <div class="s-header__logo">
                    <a class="logo" routerLink="/">
                        <!-- <img src="../../../assets/images/code-Photoroom-modified.png" alt=""> -->
                    </a>
                </div>

                <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
            </div> <!-- end s-header__block -->
        </div>
        <div class="col-md-4 bg-warning">
            <ul class="s-header__menu-links">
                <li class="current"><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/service">Services</a></li>
                <li><a routerLink="/blog">Blogs</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul> <!-- s-header__menu-links -->

           
        </div>
        <div class="col-md-4 bg-success">
            <div class="s-header__contact">
                <a routerLink ="/contact" class="btn btn--primary s-header__contact-btn">Let's Work Together</a>                        
            </div>
        </div>
    </div>

</header>